<%- include("partials/header") %>

	<div class="container">
		<header class="jumbotron">
			<h1 class="display-4">Games</h1>
			<p class="lead">
				Browse games in our database.
			</p>
			<hr class="my-4">
			<a class="btn btn-primary btn-lg" href="/games/new">Add New Game</a>
		</header>
		<div class="row">
			<% ViewModel.forEach((g) => { %>
			<div class="col-sm-6 col-md-3">
				<figure class="figure">
					<img src="<%= g.image %>" class="game-art figure-img img-fluid rounded" alt="Game Art">
					<figcaption class="figure-caption">
						<%= g.name %>
					</figcaption>
										<figcaption class="figure-caption">
						(<%= g.system %>)
					</figcaption>
				</figure>
			</div>
				<% }); %>
		</div>

		<%- include("partials/addgame") %>

	</div>

	<%- include("partials/footer") %>