<%- include("../partials/header") %>

	<div class="container my-5">
		<header class="jumbotron jumbotron-dark">
			<h1 class="display-4">Games</h1>
			<p class="lead">
				Browse games in our database.
			</p>
			<hr class="my-4">
			<a class="btn btn-primary btn-lg" href="/games/new">Add New Game</a>
		</header>
		<div class="row">
			<% ViewModel.forEach((g) => { %>
			<div class="col-sm-6 col-md-4">
				<div class="card border-secondary mb-3" style="max-width: 20rem;">
				<div class="card-header"><%= g.title %> (<%= g.system %>)</div>
				<div class="card-body">
					<img src="<%= g.image %>" class="game-art img-fluid img-thumbnail mb-3" alt="Game Art">
					<a class="btn btn-primary" href="/games/<%= g._id %>">Details</a>
				</div>
			  </div>
			</div>
			<% }); %>
		</div>
	</div>

	<%- include("../partials/footer") %>