<%- include("../partials/header") %>

	<div class="container my-5">
		<header class="jumbotron">
			<h1 class="display-4">Games</h1>
			<p class="lead">
				Browse games in our database.
			</p>
			<hr class="my-4">
			<a class="btn btn-primary btn-lg" href="/games/new">Add New Game</a>
		</header>
		<div class="row">
			<% ViewModel.forEach((g) => { %>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail text-center m-3">
					<a href="/games/<%= g._id %>">
						<img src="<%= g.image %>" class="game-art img-fluid" alt="Game Art">
					</a>
					<div class="caption my-1">
						<h5>
							<%= g.title %>
						</h5>
						<h6>
							<%= g.system %>
						</h6>
					</div>
				</div>
			</div>
				<% }); %>
		</div>
	</div>

	<%- include("../partials/footer") %>