<%- include("../partials/header") %>

	<div class="container my-5">
		<div class="row">
			<div class="col-sm-12 col-md-8 order-sm-last order-md-first">
				<h3>
					<%= ViewModel.title %>
				</h3>
				<h5>
					<%= ViewModel.system %>
				</h5>
				<h6>
					<% ViewModel.tags.forEach((t) => { %>
						<%= t.name + " " %>
							<% }) %>
				</h6>
				<p>
					<%= ViewModel.description %>
				</p>
			</div>
			<div class="col-sm-12 col-md-4 order-sm-first order-md-last text-md-right">
				<img src="<%= ViewModel.image %>" class="game-art img-fluid" alt="Game Art">
			</div>
		</div>

		<div class="my-5">
			<div class="text-right">
				<a href="/games/<%= ViewModel._id %>/comments/new" class="btn btn-primary btn-md">Add a Comment</a>
			</div>
			<% ViewModel.comments.reverse().forEach((c) => { %>
				<div class="card my-3">
					<div class="card-header">
						<%= c.author %>
					</div>
					<div class="card-body">
						<small>
							<%= c.text %>
						</small>
					</div>
				</div>
			<% }); %>
		</div>

	</div>

	<%- include("../partials/footer") %>